body 
{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
}

nav 
{
    background-color: #7e0808;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a 
{
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
}

.nav-links 
{
  display: flex;
  align-items: center;
}

.nav-links a
{
  color: white;
  margin-left: 1em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 0;
}

.mainscreen 
{
    background-image:url('Project1Images/OCCampusImage.png');
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dropdown
{
  position: relative;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  top: 100%;
  background-color:#7e0808;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
  background-color:#470505;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}


.section 
{
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

.team
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5em;
    text-align: center;
}

.member 
{
    background-color: #e1dfdf;
    padding: 1em;
    border-radius: 8px;
    color: #7e0808;
}

.member img 
{
    width: 100%;
    border-radius: 50%;
    max-width: 120px;
    margin-bottom: 0.5em;
}

.student-trait {
    display: flex;
    align-items: middle;
    margin: 50px 0;
}

.student-trait img {
    width: 120px;
    height: 120px;
    margin-right: 20px;    
    border-radius: 10px;
    object-fit: cover;
}
