* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav 
{
    background-color: #7e0808;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav a 
{
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
}

.nav-links 
{
  display: flex;
  align-items: center;
}

.nav-links a
{
  color: white;
  margin-left: 1em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 0;
}

.dropdown
{
  position: relative;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  top: 100%;
  background-color:#7e0808;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
  background-color:#470505;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}



.titlehead {
  width: 800px;
  color: rgba(159,8,8,1);
  position: absolute;
  top: 100px;
  left: 50px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.symbolOC {
  width: 44px;
  color: rgba(178,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.csText1 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 275px;
  left: 300px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.csText2 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 275px;
  left: 830px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.csText3 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 300px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.csText4 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 830px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.imgbox1 {
  width: 192px;
  height: 124px;
  background: rgba(218,23,23,1);
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 72px;
  overflow: hidden;
}
.imgbox2 {
  width: 192px;
  height: 124px;
  background: rgba(218,23,23,1);
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 600px;
  overflow: hidden;
}
.imgbox3 {
  width: 192px;
  height: 124px;
  background: rgba(218,23,23,1);
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 72px;
  overflow: hidden;
}
.imgbox4 {
  width: 192px;
  height: 124px;
  background: rgba(218,23,23,1);
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 600px;
  overflow: hidden;
}

.contentMenu{
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 1071px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
}

.nextArrow img{
  position:absolute;
  width: 75px;
  height: 75px;
  right: 95px;
  top: 700px;
}

.prevArrow img{
  position:absolute;
  width: 75px;
  height: 75px;
  left: 75px;
  top: 700px;
}



/*
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 1071px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  */